*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
Body ,
.CV-header ,
.CV-header-img,
.CV-content,
.CV-content-left{
    display: flex;
    height: auto;

}
Body{
    justify-content: center;
    background-color: rgb(112, 112, 112);
    height: 100vh;
}
#CurriculumVitae {
    background: #ffffff;
    width: 70%;
    height: 100%;
    margin: 23px auto;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 11px 1px #000000;

}
h3{
    color: #1d3f53;
}
p{
    text-align: justify;
    line-height: 1.5;
}
/*======================= start of the header =======================*/
.CV-header{
    width: 100%;
    justify-content: space-between;
}
.CV-header-img{
    width: 20%;
    justify-content: center;
}
.profile-picture{
    width: 150px;
    height: 150px;
}
.CV-header-content{
    width:75%;
    gap: 3px;
    height: auto;
}
/*======================= start of the content =======================*/
.CV-content{
    height: 500px;
    width: 100%;
    margin-top: 10px;
  justify-content: space-between;

}
.CV-content-left{
    width: 25%;
    flex-direction: column;
    justify-content: space-between;
}

.mail:before{
    content: "📬";
    vertical-align: middle;
}
.nationality:before{
    content: "🇨🇮";
    vertical-align: middle;
}
.tel:before{
    content: "📞";
    vertical-align: middle;
}
.location:before{
    content: "📍";
    vertical-align: middle;
}
.CV-content-right{
    width: 75%;
}

.experience-list{
    margin: 7px 0 7px 30px;
}
